<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">筋トレ農場&nbsp;&nbsp;|&nbsp;&nbsp;</a>
      <% if @current_user %>
	<a class="navbar-brand header-small" href="#">
	  <%= @current_user.name %> さん&nbsp;&nbsp;
	  現在 <span id="current_point"><%= @current_user.point %></span> ポイント
	</a>
      <% end %>
    </div>
</nav>
