<html>
  <head>
    <title>Test</title>
  </head>
  <body>
    <form action="/signup" method="post">
      login_id <input type="text" name="login_id">
      <br>
      name <input type="text" name="name">
      <br>
      password <input type="password" name="password">
      <br>
      <input type="submit" value="signup">
    </form>
  </body>
</html>
