body {
    padding-top: 50px;
}
/*
#training {
    background-image: url(/images/training.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: #ffffff;
}
*/
.navbar-default {
    background-color: #ff4000;
    border-color: #440000;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}
.header-small {
    color: #000000;
    font-size: smaller !important;
}
.training_count {
    font-size: 200px;
}
#remaining_count_box {
    font-size: 30px;
}
#training_label {
    font-size: 45px;
}

.card {
    width: 80%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.card-img {
    border-radius: 5px 5px 0 0;
    height: 120px;
    max-width: 100%;
    height: auto;
}
.card-content {
    padding: 20px;
}
.card-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}
.card-text {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
}
.prize-price {
    font-size: 25px;
}
#result_message {
    background: #ffefff;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 5px;
    margin-right: 5px;
}